body {
  padding: 10px;
  font-family: sans-serif;
}
#formLogin{
  border-color: black;
  size: 50px;
  
}
.badge{
  border: 10px;
  font: 200;
  
}

input.estudo-obras{
  align-self: center;
}

.fa-plus{
  size: 4px;
}